body {
    margin: 0;
}

#wrapper-index {
    display: grid;
    grid-template-areas: 
    'hd hd hd'
    'nv nv nv'
    's1 as as'
    'ft ft ft'
    ;
    min-height: 100vh;
    max-width: 100vw;
    grid-template-columns: 70% 30% 0%;
    grid-template-rows: 30vh 5vh 70vh 15vh;
    gap: 0;
    background-color: rgb(214, 214, 179);
    margin: 0;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


header {
    grid-area: hd;
    background-color: lightblue;
    margin-bottom: 10px;
}

#logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    grid-area: nv;
    background-color: rgb(214, 214, 179);
    display: flex;
    justify-content: center;
}

.nav-content {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 80%;
    width: 5%;
    background-color:  rgb(180, 180, 143);
    color: white;
    border-radius: 7px;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: white;
}

#latest-posts {
    grid-area: s1;
    background-color: rgb(137, 192, 211);
}

#articles-latest-posts {
    display: flex;
    height: 80%;
    width: 100%;
    justify-content: space-around;
    
}

.h2-latest-posts {
    text-align: center;
    color: rgb(7, 62, 80);
    font-size: 20px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.article-posts {
    background-color: rgb(137, 192, 211);
    height: 97%;
    width: 45%;
    border-radius: 10px;
    overflow: hidden;
}

.img-post {
    background-color: white;
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.text-post {
    width: 100%;
    height: 40%;
    background-color: white;
    padding: 10px;
}

aside {
    grid-area: as;
    background-color: rgb(95, 177, 204);
}

#popular-searches-parent {
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: column;
    align-content: center;
    background-color: rgb(95, 177, 204);
    border-radius: 10px;
}

.material-icons {
    display: inline;
    color: rgb(7, 62, 80);
}


.popular-searches-button {
    display: block;
    background-color: rgb(43, 155, 193);
    width: 95%;
    height: 10%;
    border-radius: 30px;
    margin: 10px 15px;
    border-style: none;
    text-align: left;
}

p {
    text-align: left;
    display: inline;
    padding-bottom: 15px;
    color: rgb(7, 62, 80);
}

footer {
    grid-area: ft;
    background-color: rgb(214, 214, 179);
    color: rgb(7, 62, 80);
    align-self: flex-end;
    text-align: end;
    font-size: 15px;
}

#wrapper-aboutus {
    display: grid;
    grid-template-areas: 
    'hd hd hd'
    'nv nv nv'
    's2 s2 s2'
    'au au au'
    'ft ft ft'
    ;
    min-height: 100vh;
    max-width: 100vw;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 30vh 5vh 150vh 60vh 15vh;
    gap: 0;
    margin: 0;
    background-color: rgb(214, 214, 179);
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main-aboutus {
    grid-area: s2;
    background-color: rgb(137, 192, 211);
    display: flex;
    justify-content: space-around;
}

#card-layout {
    height: 90%;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 20px;
}

.employee-card1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
    width: 100%;
    margin-bottom: 10px;
}

.employee-card2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
    width: 100%;
    margin-top: 20px;
    
}

.employee-card {
    background-color: white;
    height: 100%;
    width: 33%;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.employee-img {
    height: 60%;
    width: 100%;
    object-fit: cover;
    text-overflow: clip;
}

.employee-name {
    font-size: 15px;
}

.employee-text {
    font-size: 12px;
}

#about-us-text {
    grid-area: au;
    background-color: rgb(137, 192, 211);
    padding-left: 25%;
    padding-right: 25%;
    
}

#uber-uns-title {
    text-align: center;
}

#uber-uns-text {
    
}
